<div id="<%= dom_id section %>">
  <p>
    <strong>Components:</strong>
    <%= section.Components %>
  </p>

  <p>
    <strong>Languages:</strong>
    <%= section.Languages %>
  </p>

  <p>
    <strong>Pagesection:</strong>
    <%= section.PageSection %>
  </p>

  <p>
    <strong>Sectioncomponent:</strong>
    <%= section.SectionComponent %>
  </p>

  <p>
    <strong>Cmsvalue:</strong>
    <%= section.CMSValue %>
  </p>

</div>
