<!-- app/views/cms_values/show.html.erb -->
<p>
  <strong>Page Name:</strong>
  <%= @cms_value.cms_page_pagename %>
</p>

<p>
  <strong>Section Name:</strong>
  <%= @cms_value.cms_section_sectionname %>
</p>

<p>
  <strong>Component Name:</strong>
  <%= @cms_value.cms_component_componentname %>
</p>

<p>
  <strong>Language Name:</strong>
  <%= @cms_value.cms_language_languagename %>
</p>

<p>
  <strong>Value:</strong>
  <%= @cms_value.value %>
</p>

<%= link_to 'Edit', edit_cms_value_path(@cms_value) %> |
<%= link_to 'Back', cms_values_path %>
