<div id="<%= dom_id page %>">
  <p>
    <strong>Sections:</strong>
    <%= page.Sections %>
  </p>

  <p>
    <strong>Components:</strong>
    <%= page.Components %>
  </p>

  <p>
    <strong>Languages:</strong>
    <%= page.Languages %>
  </p>

  <p>
    <strong>Pagesection:</strong>
    <%= page.PageSection %>
  </p>

  <p>
    <strong>Sectioncomponent:</strong>
    <%= page.SectionComponent %>
  </p>

  <p>
    <strong>Cmsvalue:</strong>
    <%= page.CMSValue %>
  </p>

</div>
