<div id="<%= dom_id component %>">
  <p>
    <strong>Languages:</strong>
    <%= component.Languages %>
  </p>

  <p>
    <strong>Pagesection:</strong>
    <%= component.PageSection %>
  </p>

  <p>
    <strong>Sectioncomponent:</strong>
    <%= component.SectionComponent %>
  </p>

  <p>
    <strong>Cmsvalue:</strong>
    <%= component.CMSValue %>
  </p>

</div>
