<%= form_with(model: component) do |form| %>
  <% if component.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
        <% component.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Languages, style: "display: block" %>
    <%= form.text_field :Languages %>
  </div>

  <div>
    <%= form.label :PageSection, style: "display: block" %>
    <%= form.text_field :PageSection %>
  </div>

  <div>
    <%= form.label :SectionComponent, style: "display: block" %>
    <%= form.text_field :SectionComponent %>
  </div>

  <div>
    <%= form.label :CMSValue, style: "display: block" %>
    <%= form.text_field :CMSValue %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
