<div id="<%= dom_id cmse %>">
  <p>
    <strong>Pagename:</strong>
    <%= cmse.PageName %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= cmse.Language %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= cmse.Location %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= cmse.Type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= cmse.Value %>
  </p>

  <p>
    <strong>Last modified date:</strong>
    <%= cmse.Last_modified_date %>
  </p>

</div>
