<div id="<%= dom_id cms %>">
  <p>
    <strong>Pagename:</strong>
    <%= cms.pagename %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= cms.language %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= cms.location %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= cms.type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= cms.value %>
  </p>

  <p>
    <strong>Last modified date:</strong>
    <%= cms.last_modified_date %>
  </p>
</div>
