<%= form_with(model: cms) do |form| %>
  <% if cms.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cms.errors.count, "error") %> prohibited this cms from being saved:</h2>

      <ul>
        <% cms.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :pageName, style: "display: block" %>
    <%= form.text_area :pageName %>
  </div>

  <div>
    <%= form.label :language, style: "display: block" %>
    <%= form.text_area :language %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_area :location %>
  </div>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.text_area :type %>
  </div>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.text_area :value %>
  </div>

  <div>
    <%= form.label :last_modified_date, style: "display: block" %>
    <%= form.datetime_field :last_modified_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
