<p style="color: green"><%= notice %></p>

<%= render @ %>

<div>
  <%= link_to "Edit this cms", edit__path(@cms) %> |
  <%= link_to "Back to cmses", cmses_path %>

  <%= button_to "Destroy this cms", @cms, method: :delete %>
</div>
